<div class="theft-info-theft">
  <hr>
  <div>
    <div *ngIf="!editing">
    </div>
    <input *ngIf="editing" type="text" [(ngModel)]="theft.description" value="{{theft.description}}">
  </div>
  <div>
    <div *ngIf="!editing">
      {{theft.time | date:'yyyy-MM-dd'}}
    </div>
    <input *ngIf="editing" [(ngModel)]="theft.time" type="date" value="{{theft.time | date:'yyyy-MM-dd' }}">
  </div>
  <div>
    <div *ngIf="!editing">
      {{theft.position?.address}}
    </div>
    <div *ngIf="editing">
      <div>
        Latitude: <input [(ngModel)]="theft.position.latitude" type="text" value="{{theft.position?.latitude}}">
      </div>
      <div>
        Longitude: <input [(ngModel)]="theft.position.longitude" type="text" value="{{theft.position?.longitude}}">
      </div>
    </div>
  </div>
  Tags:
  <div *ngFor="let tag of theft?.tags">
    <a (click)="getTheftsByTag(tag)">{{tag?.name}}</a>
    <button class="mdl-button mdl-js-button mdl-button--raised" *ngIf="editing" (click)="deleteTag(tag)">x</button>
  </div>
  <button *ngIf="!addingTag" (click)="addTag()">+</button>
  <input #tagInput *ngIf="addingTag" type="text" placeholder="New tag" value="">
  <button *ngIf="addingTag" (click)="saveTag()">Add</button>
  <div *ngIf="showError">
    {{error}}
    <button (click)="showError = false">hide</button>
  </div>
  <div>
    <button class="mdl-button mdl-js-button mdl-button--raised" *ngIf="!editing" (click)="edit()">Edit</button>
    <button class="mdl-button mdl-js-button mdl-button--raised" *ngIf="editing" (click)="cancel()">Cancel</button>
    <button class="mdl-button mdl-js-button mdl-button--raised" [disabled]="!editFormIsValid()" *ngIf="editing" (click)="save()">Save</button>
    <button class="mdl-button mdl-js-button mdl-button--raised" (click)="delete()">Delete</button>
    <button class="mdl-button mdl-js-button mdl-button--raised"  (click)="deleteConfirmed()" *ngIf="showDeleteConfirmation">Are you sure?</button>
  </div>
</div>
