<div *ngIf="showMap" class="sebm-google-map-container">
  <sebm-google-map
    [latitude]="coordinates[0] || thefts[0]?.position.latitude"
    [longitude]="coordinates[1] || thefts[0]?.position.longitude"
    [zoom]="5">
    <sebm-google-map-marker
        *ngFor="let theft of thefts; let i = index"
        [latitude]="theft?.position.latitude"
        [longitude]="theft?.position.longitude"
        [markerDraggable]="false">
      <sebm-google-map-info-window>
        <strong>{{theft.description}}</strong>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
  </sebm-google-map>
</div>
