body {
  position: relative;
}

.outlet-content {
  padding-top: 20px;
}

.snackbar {
  position: absolute;
  top: 67%;
  right: 0px;
  transition: right 250ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  z-index: 1000;
}

.snackbar button {
  height: 100px;
  margin: 0;
  background: black;
  color: yellowgreen;
}

.higher-snackbar {

  right: 100px;
}

.demo-list-action {
  width: 300px;
}

.hidden {
  display: none;
}

.straight-border {
  border-radius: 0 !important;
}
