<div>
  {{errorMessage}}
  <button [hidden]="!errorMessage" (click)="errorMessage = ''">Hide</button>
</div>
<div *ngIf="showList">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Thefts</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <div *ngIf="!thefts" class="mdl-spinner mdl-js-spinner is-active"></div>
      <button *ngIf="thefts" (click)="removeFilter()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">{{filter || 'All'}}</button>
<button (click)="searchByDescriptionToggle()" *ngIf="!showSearhByDescription" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
        <i class="material-icons">search</i>
      </button>
      <button (click)="searchByPositionToggle()" *ngIf="!showSearhByPosition" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
        <i class="material-icons">place</i>
      </button>
      <div *ngIf="showSearchByDescription">
        <label for="search">Search</label>
        <input [(ngModel)]="searchValue" name="search" type="text">
        <a [class.hidden]="!searchValue" [routerLink]="searchString(searchValue)">Search</a>
      </div>
      <form *ngIf="showSearchByPosition" (ngSubmit)="findNear()">
        <label for="latitude">Latitude</label>
        <input [(ngModel)]="latitudeValue" name="latitude" type="text">
        <br>
        <label for="longitude">Longitude</label>
        <input [(ngModel)]="longitudeValue" name="longitude" type="text">
        <br>
        <button [disabled]="findNearFormValid()" type="submit">Find near</button>
      </form>
        <div class="demo-list-action mdl-list">
          <div *ngFor="let theft of thefts" class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar bike-icon">directions_bike</i>
              <span class="theft-span">
                <button
                  class="theft-title theft-title-{{theft.id}}"
                  (click)="theftSelected(theft)">
                  {{theft?.description}}
                </button>
              </span>
            </span>
            <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">create</i></a>
            <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">delete</i></a>
          </div>
        </div>

      <div>


      </div>
    </div>
    <div class="mdl-card__menu">
      <div class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">description</i>
      </div>

    </div>
  </div>
</div>
<div *ngIf="!showList">
  <theft-info [theft]="theftInfo"
              (changeTitle)="handleChangeTitle($event)"
              (theftDeleted)="handleTheftDeleted($event)"></theft-info>
</div>
