.hidden {
  display: none;
}

.mdl-chip {
  background: #EECEEC;
  border: solid rgba(255, 255, 255, 0.8) 1px;
  border-radius: 4px;
  padding: 3px;
}

.demo-card-wide {
  margin: 0 auto;
}

.theft-list-button {
  margin-top: 7px;
}
