Filter:
<span *ngIf="filter === 'all'">{{filter}}</span>
<span (click)="removeFilter()" *ngIf="filter !== 'all'">{{filter}}</span>
<hr>
<form (ngSubmit)="search()">
  <label for="search">Search</label>
  <input [(ngModel)]="searchValue" name="search" type="text">
  <button type="submit">Search</button>
</form>
<hr>
<div *ngIf="show">
  <div *ngFor="let theft of thefts">
    <div (click)="handleSelectTheft(theft)"
         class="theft-title theft-title-{{theft.id}}">
      {{theft.description}}
    </div>
    <div class="expand-info id-{{theft.id}} hidden">
      <theft-info [theft]="theft" (selectTag)="filterByTag($event)" (changeTitle)="handleChangeTitle($event)"></theft-info>
    </div>
  </div>
  <button *ngIf="offset > 0" (click)="previousPage()"><</button>
  <button (click)="nextPage()">></button>
</div>
