<button (click)="getAllThings()">get</button>
<div *ngIf="show">
  <div *ngFor="let theft of thefts">
    <div (click)="handleSelectTheft(theft)"
         class="theft-title theft-title-{{theft.id}}">
      {{theft.description}}
    </div>
    <div class="expand-info id-{{theft.id}} hidden">
      <theft-info [theft]="theft" (changeTitle)="handleChangeTitle($event)"></theft-info>
    </div>
  </div>
  <button *ngIf="offset > 0" (click)="previousPage()"><</button>
  <button (click)="nextPage()">></button>
</div>
