<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div class="mdl-textfield mdl-js-textfield">
      <label for="email">email</label>
      <input class="mdl-textfield__input" type="text" type="text" required
        [(ngModel)]="model.email"
          name="email" #email >
    </div>
    <div>
      <label for="password">password</label>
      <input class="mdl-textfield__input" [(ngModel)]="model.password" type="text" name="password" required>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      Login
    </button>
  </form>
  <flash [error]="errorMessage"></flash>
</div>
